{% extends "base.html" %}

{% block styles %}
<style>
#metacontainer ul {         
          padding:0 0 0 0;
          margin:0 0 0 0;
      }
#metacontainer ul li {     
          list-style:none;
          margin-bottom:25px;       
      }
#metacontainer ul li img {
          cursor: pointer;
          width: 300px;
          height: 200px; 
      }
.toolbar {
	margin-bottom: 10px;
	margin-left: 10px;
}

#map {
	height: 425px;
	width:100%;
	
}

.album-photo, .full-photo {
	max-width: 100%;
}

.album-photo {
	max-height: 180px;
}

</style>
<link rel="stylesheet" href="{{url_for('static',filename='leaflet.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='leaflet.js')}}"></script>
{% endblock %}

{% block content_title %}Load album{% endblock %}


{% block content %}

<div id="metacontainer">
    <div class="row">
		<!--Albums list -->
		<section id="albums-section" data-bind="visible: view()=='albums'">
			<div class="container">
			<div class="row toolbar">
				<div class="col-lg-12">
				<button data-bind="click: showAlbumModal" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Add new</button>
				</div>
			</div>
			<div data-bind="foreach: albums" class="row">
				<div class="col-md-3">
					<div class="well">
						<a href="#" data-bind="attr: {href: '#/albums/'+id}"><img src="" class="album-photo" data-bind="attr: {src: '../'+cover}"/></a>
					    <p data-bind="text:title"></p>
					</div>
				</div>
			</div>
			</div>
		</section>
		<!--End albums list -->
		<!--Photo list -->
        <section id="album-section" data-bind="visible: view()=='album', with: currentAlbumData">
		<div class="container">
			<div class="row toolbar">
				<div class="col-lg-12">
				<h4 data-bind="text: title"></h4>
				<button class="btn btn-primary" data-bind="click: $root.showPhotosModal"><span class="glyphicon glyphicon-plus">Add photo(s)</span></button>
				<button class="btn btn-primary" data-bind="click: $root.showShareModal"><span class="glyphicon glyphicon-share">Share</span></button>
				<button class="btn btn-primary" data-bind="click: $root.showSettingsModal"><span class="glyphicon glyphicon-cog">Settings</span></button>
				<a class="btn btn-primary" target="_blank" data-bind="attr: {href: './map/'+id()}" href="#"><span class="glyphicon glyphicon-map-marker">Show map</span></a>
				<a class="btn btn-primary" href="#/albums"><span class="glyphicon glyphicon-chevron-left">Back</span></a>
				<button class="btn btn-danger pull-right" data-bind="click: $root.deleteAlbum"><span class="glyphicon glyphicon-trash">Delete album</span></button>
				</div>
			</div>
			<div data-bind="foreach: photos" class="row">
				<div class="col-md-3">
					<div class="well">
						<a href="#" data-bind="attr: {href: '#/albums/'+$parent.id()+'/'+id}">
						    <img src="" class="album-photo" data-bind="attr: {src: '../'+url+'?ts='+new Date().getTime()}"/>
						</a>
						<span data-bind="text: caption"></span>
							<a href="#" data-bind="click: $root.rotateRight" title="Rotate right"><i class="fa fa-rotate-right"></i></a>
							<a href="#" data-bind="click: $root.rotateLeft" title="Rotate left"><i class="fa fa-rotate-left"></i></a>
							<a href="#" data-bind="click: $root.deletePhoto" title="Delete photo"><i class="fa fa-trash"></i></a>
					</div>
				</div>
			</div>
			</div>
        </section>
        <!--End photo list -->
        <!--Photo details -->
        <section id="photo-section" data-bind="visible: view()=='photo', with: currentPhotoData">
			<div class="container">
				<div class="row toolbar">
					<div class="col-lg-12">
					<h4 data-bind="text: caption"></h4>
				<!--	<button class="btn btn-primary" data-bind="click: $root.rotateRight"><i class="fa fa-rotate-right"></i> Rotate right</button>
					<button class="btn btn-primary" data-bind="click: $root.rotateLeft"><i class="fa fa-rotate-left"></i> Rotate left</button> -->
					<button class="btn btn-danger pull-right" data-bind="click: $root.deletePhoto"><span class="glyphicon glyphicon-trash">Delete photo</span></button>
					<a href="#/albums" data-bind="attr: {href: '#/albums/'+$root.currentAlbumData.id()}" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-left">Back</span></a>
				</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<img src="" class="full-photo" data-bind="attr:{src:'../'+url()+'?ts='+new Date().getTime()}"/>
					</div>
					<div class="col-md-6">
						<div id="map"></div>
					</div>
				</div>
			</div>
		<!--End photo details -->
        </section>
    </div>
</div>

   <div class="modal fade" id="newAlbumModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">  
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Create new album</h4>
			</div>           
          <div class="modal-body"> 
			 <form class="form" id="newalbum" method="POST" action="{{url_for('albums')}}" enctype="multipart/form-data">
					<dl>

				<dt>
				<label for="album-photos">Photos</label>
					<input id="album-photos" name="photos" type="file" multiple="multiple">
				</dt>

				<dt>
				<label for="track">GPS Track</label>
					<input id="track" name="track" type="file">
				</dt>

				<dt>
				<label for="title">Album title</label>
					<input type="text" id="title" name="title">
				</dt>

				<dt>
				<label for="title">Elevation plot?</label>
					<select id="has_elevation" name="has_elevation">
						<option value="0">No</option>
						<option value="1">Yes</option>
					</select>
				</dt>

				<dt>
				<label for="basemap">Basemap</label>
					<select id="basemap" name="basemap">
						<option value="osm">OSM Standard</option>
						<option value="mapbox">Mapbox Streets</option>
						<option value="hikebike">Hike&amp;Bike</option>
						<option value="satellite">Mapbox Satellite</option>
					</select>
				</dt>
				</dl>            
          </div>
          <div class="modal-footer">
				<button type="button" class="btn btn-success" data-bind="click: uploadNewAlbum">Upload</button>
				<button type="reset" class="btn btn-danger">Reset</button>
				<div class="hide" id="loading-album"><img src="{{url_for('static',filename='images/ajax-loader.gif')}}"/> Loading...</div>
				</form>   
			</div> 
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
   <div class="modal fade" id="albumSettingsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">  
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Settings</h4>
			</div>           
          <div class="modal-body"> 
			 <form class="form" id="albumsettings" data-bind="with: currentAlbumData">
					<dl>

				<dt>
				<label for="title">Album title</label>
					<input type="text" data-bind="value: title" name="title">
				</dt>

				<dt>
				<label for="title">Elevation plot?</label>
					<select data-bind="value: has_elevation" name="has_elevation">
						<option value="0">No</option>
						<option value="1">Yes</option>
					</select>
				</dt>

				<dt>
				<label for="basemap">Basemap</label>
					<select data-bind="value: basemap" name="basemap">
						<option value="osm">OSM Standard</option>
						<option value="mapbox">Mapbox Streets</option>
						<option value="hikebike">Hike&amp;Bike</option>
						<option value="satellite">Mapbox Satellite</option>
					</select>
				</dt>
				</dl>   
				</form>    
          </div>
          <div class="modal-footer">
				<button type="button" class="btn btn-success" data-bind="click: updateCurrentAlbum">Save</button>
			</div> 
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
   <div class="modal fade" id="newPhotosModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content"> 
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Add photos to album</h4>
			</div>        
          <div class="modal-body"> 
			 <form class="form" id="newphotos" method="POST" action="{{url_for('albums')}}" enctype="multipart/form-data" data-bind="attr: {action: './albums/'+currentAlbumData.id()}">
				<dl>

				<dt>
				<label for="new-photos">Photos</label>
					<input id="new-photos" name="photos" type="file" multiple="multiple">
				</dt>
				</dl>			               
          </div>
          <div class="modal-footer">
			<button type="button" class="btn btn-success" data-bind="click: uploadNewPhotos">Upload</button>
			<button type="reset" class="btn btn-danger">Reset</button>
			<div class="hide" id="loading-photos"><img src="{{url_for('static',filename='images/ajax-loader.gif')}}"/> Loading...</div>
			</form> 
		</div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
   <div class="modal fade" id="shareModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content"> 
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Share</h4>
			</div>        
          <div class="modal-body"> 
			 <p><b>Fullscreen map:</b></p>
			 <p><pre>{{base_url}}/map/<span data-bind="text: currentAlbumData.id"></span></pre></p>
			 <p><b>Embed in a web page:</b></p>
			 <p><pre>&lt;iframe src="{{base_url}}/map/<span data-bind="text: currentAlbumData.id"></span>" width="600" height="300" scrolling="no"&gt;&lt;/iframe&gt;</pre></p>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

				
<script type="text/javascript">

var minstrelVModel = function() {
	var self = this;
	
	self.map = L.map('map').setView([50, 20], 13);
	
	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(self.map);
    
    self.markers = new L.FeatureGroup();
    self.map.addLayer(self.markers);
    
	self.view = ko.observable('albums');
	self.albums = ko.observableArray();
	self.currentAlbumData = {
		'id': ko.observable(),
		'title': ko.observable(),
		'has_elevation': ko.observable(),
		'basemap': ko.observable(),
		'track': ko.observable(),
		'photos': ko.observableArray()
	};
	self.currentPhotoData = {
		'id': ko.observable(),
		'lat': ko.observable(),
		'lng': ko.observable(),
		'caption': ko.observable(),
		'url': ko.observable(),
		'thumbnail': ko.observable()
	};
	
	self.photosMutated = function(){
		var data = self.currentAlbumData.photos();
		self.currentAlbumData.photos([]);
		self.currentAlbumData.photos(data);
	}
	
	self.getAlbums = function() {
		$.getJSON('./albums',function(data) {
			self.albums(data.albums);
		});
	};
	
	self.getAlbumData = function(albumid) {
		$.getJSON('./albums/'+albumid,function(data) {
			for(var key in data) {
				if(typeof self.currentAlbumData[key] == 'function') {
					self.currentAlbumData[key](data[key]);
				}
			}
		});
	} 
	
	
	self.setPhotoData = function(data) {
		for(var key in data) {
				if(typeof self.currentPhotoData[key] == 'function') {
					self.currentPhotoData[key](data[key]);
				}
			}
		self.markers.clearLayers();
		L.marker([data.lat,data.lng]).addTo(self.markers);
		self.map.setView([data.lat,data.lng],14);
	}
	
	self.deletePhoto = function(photo) {
		bootbox.confirm('Are you sure?', function(res) {
			if(res) {
				var pid = typeof photo.id == 'function' ? photo.id() : photo.id;
				$.ajax({
					url: './photos/'+pid,
					type:'DELETE',
					success: function() {
						var aid = self.currentAlbumData.id();
						location.hash = '#/albums/'+aid;
						self.getAlbumData(aid);
						bootbox.alert('Photo was deleted');
					},
					fail: function() {
					}
				});
			}
		});
	}
	
	self._rotate = function(photo,direction) {
		var photo_url = typeof photo.url == 'function' ? photo.url() : photo.url;
		var photo_thumb = typeof photo.thumbnail == 'function' ? photo.thumbnail() : photo.thumbnail;
		$.post('./rotate',{
			'photo': photo_url,
			'direction': direction
		},
		function(data){
			if(data.rotated) {
				var ts = new Date().getTime();
				if(photo_url.indexOf('?') == -1) {
					photo.url = photo_url+'?ts='+ts;
					photo.thumbnail = photo_thumb+'?ts='+ts;
				}
				else {
					photo.url = photo_url+'&ts='+ts;
					photo.thumb = photo_thumb+'&ts='+ts;					
				}
			}
			self.photosMutated();
		});
	}
	
	self.rotateLeft = function(photo) {
		self._rotate(photo,'left');
	}
	
	self.rotateRight = function(photo) {
		self._rotate(photo,'right');
	}
	
	self.deleteAlbum = function(album) {
		bootbox.confirm('Are you sure?', function(res) {
			if(res) {
				var aid = album.id();
				$.ajax({
					url: './albums/'+aid,
					type:'DELETE',
					success: function() {
						location.hash = '';
						self.getAlbums();
						bootbox.alert('Album was deleted');
					},
					fail: function() {
					}
				});
			}
		});
	}
	
	self.uploadNewAlbum = function() {
		if(!$('#album-photos').val()) {
			bootbox.alert('No photos selected!');
			return;
		}
		else if(!$('#track').val()) {
			bootbox.alert('GPS track was not supplied');
			return;
		}
		else if(!$('#title').val()) {
			bootbox.alert('Album title was not given');
			return;
		}
		$('#loading-album').removeClass('hide');
		$('#newalbum').ajaxForm().ajaxSubmit(function(data) {
			$('#loading-album').addClass('hide');
			$('#newAlbumModal').modal('hide');
			self.getAlbums();
			location.hash = '';
		});
	};
	
	self.uploadNewPhotos = function() {
		if(!$('#new-photos').val()) {
			bootbox.alert('No photos selected!');
			return;
		}
		$('#loading-photos').removeClass('hide');
		$('#newphotos').ajaxForm().ajaxSubmit(function(data) {
			$('#loading-photos').addClass('hide');
			$('#newPhotosModal').modal('hide');
			self.getAlbumData(self.currentAlbumData.id());
			location.hash = '#/albums/'+self.currentAlbumData.id();
		});
	};
	
	self.updateCurrentAlbum = function() {
		$.ajax({
			'url': './albums/'+self.currentAlbumData.id(),
			'type': 'PUT',
			'data': ko.toJSON(self.currentAlbumData),
			'success': function() {
				bootbox.alert('Settings updated');
				$('#albumSettingsModal').modal('hide');
			},
			'fail': function() {
				bootbox.alert('Saving failed');
			}
		})
	}
	
	self.showPhotosModal = function() {
		$('#newPhotosModal').modal('show');
	}
	
	self.showAlbumModal = function() {
		$('#newAlbumModal').modal('show');
	}
	
	self.showShareModal = function() {
		$('#shareModal').modal('show');
	}
	
	self.showSettingsModal = function() {
		$('#albumSettingsModal').modal('show');
	}
	
	self.getAlbums();
	
}

var vm = new minstrelVModel();
ko.applyBindings(vm);
location.hash = '';


Path.map('').to(function () {
	$('#newAlbumModal').modal('hide');
	vm.getAlbums();
	vm.view('albums');
});

Path.map('#/albums').to(function () {
	$('#newAlbumModal').modal('hide');
	vm.getAlbums();
	vm.view('albums');
});


Path.map('#/albums/:albumid').to(function () {
	var albumid = this.params.albumid;
	vm.getAlbumData(albumid);
	vm.view('album');
});


Path.map('#/albums/:albumid/:photoid').to(function() {
	var photoid = this.params.photoid;
	var photolist = vm.currentAlbumData.photos(); 
	for(var p=0;p<photolist.length;p++) {
		if(photolist[p].id == photoid) {
			vm.setPhotoData(photolist[p]);
			break;
		}
	}
	vm.view('photo');
});


Path.listen();

</script>
{% endblock %}
