<!DOCTYPE html>
<html>
<head>
	<title>{{album.title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<link rel="stylesheet" href="https://rawgit.com/turban/Leaflet.Photo/gh-pages/examples/lib/cluster/MarkerCluster.css" />	
	<link rel="stylesheet" href="https://rawgit.com/turban/Leaflet.Photo/gh-pages/Leaflet.Photo.css" />	
	<link rel="stylesheet" href="https://rawgit.com/turban/Leaflet.Photo/gh-pages/examples/css/map.css" />
	<link rel="stylesheet" href="{{url_for('static',filename='leaflet-elevation/Leaflet.Elevation-0.0.2.css')}}" />
</head>
<body>
	<div id="map"></div>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="https://rawgit.com/turban/Leaflet.Photo/gh-pages/examples/lib/cluster/leaflet.markercluster.js"></script>
	<script src="https://rawgit.com/turban/Leaflet.Photo/gh-pages/Leaflet.Photo.js"></script>	
	<script src="{{url_for('static',filename='leaflet-gpx-master/gpx.js')}}"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script src="{{url_for('static',filename='leaflet-elevation/Leaflet.Elevation-0.0.2.min.js')}}"></script>
	<script>

	var map = L.map('map');

	var osm = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	});
		
	var mbstreet = L.tileLayer("http://a.tiles.mapbox.com/v3/michalmackiewicz.tm2-basemap/{z}/{x}/{y}.png", {
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, hosting and design <a href="http://mapbox.com" target="_blank">MapBox</a>',
	});
	
	var mbsat = L.tileLayer("http://a.tiles.mapbox.com/v3/michalmackiewicz.map-5m4105td/{z}/{x}/{y}.png", {
		attribution: '&copy; <a href="http://mapbox.com" target="_blank">MapBox</a>',
	});
	
	var hb = L.tileLayer("http://toolserver.org/tiles/hikebike/{z}/{x}/{y}.png", {
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors, hosting and design <a href="http://hikebikemap.de" target="_blank">Hike&Bike Map</a>',
	});

	{% if album.basemap == 'osm' %}
		osm.addTo(map);
	{% elif album.basemap == 'mapbox' %}
		mbstreet.addTo(map);
	{% elif album.basemap =='satellite' %}
		mbsat.addTo(map);
	{% elif album.basemap == 'hikebike' %}
		hb.addTo(map);
	{% else %}
		osm.addTo(map);
	{% endif %}
	

	$.getJSON('{{url_for('album',albumid=album.id)}}',{},
         function (data) {
			var photos = [];
			var photodata = data['photos'];

			$.each(photodata, function() {
				var photo = this;
			    photos.push({
						lat: photo.lat,
						lng: photo.lng,
						url: '../'+photo.url,
						caption: photo.caption,
						thumbnail: '../'+photo.thumbnail,
						video: null 
					});
			})
			var photoLayer = L.photo.cluster();
			photoLayer.on('click', function (evt) {
					var photo = evt.layer.photo,
						template = '<img src="{url}"/></a><p>{caption}</p>';
					evt.layer.bindPopup(L.Util.template(template, photo), {
							className: 'leaflet-popup-photo',
							minWidth: 400
					}).openPopup();
			});
			photoLayer.add(photos).addTo(map);
			map.fitBounds(photoLayer.getBounds());
		}
	);
	
	var gpx = new L.GPX('{{url_for('send_media',filetype='tracks',filename=album.track)}}', {async: true,marker_options: {
    startIconUrl: '{{url_for('static',filename='leaflet-gpx-master/pin-icon-start.png')}}',
    endIconUrl: '{{url_for('static',filename='leaflet-gpx-master/pin-icon-end.png')}}',
    shadowUrl: '{{url_for('static',filename='leaflet-gpx-master/pin-shadow.png')}}'
  }})
  
  {% if album.has_elevation %}
  
  var ele = L.control.elevation();
  ele.addTo(map);
  
  gpx.on("addline",function(e){
			ele.addData(e.line);
	});
  
  {% endif %}
  
  gpx.addTo(map);
  

	</script>
</body>
</html>
