<!DOCTYPE html>
<html>
<head>
	<title>{{album.title}}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
	<link rel="stylesheet" href="https://rawgit.com/turban/Leaflet.Photo/gh-pages/examples/lib/cluster/MarkerCluster.css" />	
	<link rel="stylesheet" href="https://rawgit.com/turban/Leaflet.Photo/gh-pages/Leaflet.Photo.css" />	
	<link rel="stylesheet" href="https://rawgit.com/turban/Leaflet.Photo/gh-pages/examples/css/map.css" />
</head>
<body>
	<div id="map"></div>
	<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
	<script src="https://rawgit.com/turban/Leaflet.Photo/gh-pages/examples/lib/cluster/leaflet.markercluster.js"></script>
	<script src="https://rawgit.com/turban/Leaflet.Photo/gh-pages/Leaflet.Photo.js"></script>	
	<script src="{{url_for('static',filename='leaflet-gpx-master/gpx.js')}}"></script>
	<script>

	var map = L.map('map');

	L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
		attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
	}).addTo(map);


	$.getJSON('{{url_for('album',albumid=album.id)}}',{},
         function (data) {
			var photos = [];
			var photodata = data['photos'];

			$.each(photodata, function() {
				var photo = this;
			    photos.push({
						lat: photo.lat,
						lng: photo.lng,
						url: '../'+photo.url,
						caption: photo.caption,
						thumbnail: '../'+photo.thumbnail,
						video: null 
					});
			})
			var photoLayer = L.photo.cluster();
			photoLayer.on('click', function (evt) {
					var photo = evt.layer.photo,
						template = '<img src="{url}"/></a><p>{caption}</p>';
					evt.layer.bindPopup(L.Util.template(template, photo), {
							className: 'leaflet-popup-photo',
							minWidth: 400
					}).openPopup();
			});
			photoLayer.add(photos).addTo(map);
			map.fitBounds(photoLayer.getBounds());
		}
	);
	
	new L.GPX('{{url_for('send_media',filetype='tracks',filename=album.track)}}', {async: true,marker_options: {
    startIconUrl: '{{url_for('static',filename='leaflet-gpx-master/pin-icon-start.png')}}',
    endIconUrl: '{{url_for('static',filename='leaflet-gpx-master/pin-icon-end.png')}}',
    shadowUrl: '{{url_for('static',filename='leaflet-gpx-master/pin-shadow.png')}}'
  }}).addTo(map);

	</script>
</body>
</html>
